*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* This is the main styling for the header */

header{
  background-color: #e7dfd8; 
  padding-top: 50px;
  background: 
    url(./images/developer.png),
    url(./images/header_bg.png);
  background-position: 
    top left,
    bottom right;
  background-repeat: no-repeat;
}

nav{
  width: 70%;
  max-width: 1140px;
  margin: 0 227px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu{
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}

nav .menu a{
  font-size: 20px;
  font-weight: 650;
  color: #474747;
  text-decoration: none;
} 

.Logo h2{
  font-size: 45px;
  font-weight: 900;
}

.Color-Orange{
  color: #f76c6c;
}

.btn {
  background-color: rgb(225, 122, 53);
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

#banner{
  margin: 47px 38px 0px 230px;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  height: 620px;
}

#banner .banner-content h2{
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #474747;
}

.banner-content{
  max-width: 585px;
  padding: 20px;
}

#banner .banner-content h1{
  font-size: 45px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

#banner .banner-content p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  align-items: justify;
  margin-bottom: 30px;
}

.banner-img img{
  width: 500px;
  vertical-align: middle;
  align-self: flex-end;
}

.banner-img {
  align-self: flex-end;
}

